{% extends "page.html.twig" %}


{% block content %}
<div class="banner-fluid bg-image-banner">
  <div class="container">
    {{ page.banner_oshwiki }}
  </div>
</div>
<div class="container">
  <div class="wrapper-tabs">
  <nav>
    <div class="nav nav-tabs" id="nav-tabs" role="tablist">
      <button class="nav-link" id="nav-themes-tab" data-bs-toggle="tab" data-bs-target="#nav-themes" type="button" role="tab" aria-controls="nav-themes" aria-selected="true">
        <a href="themes">Hierarchical view</a></button>
      <button class="nav-link" id="nav-alphabetical-view-tab" data-bs-toggle="tab" data-bs-target="#nav-alphabetical-view" type="button" role="tab" aria-controls="nav-alphabetical-view" aria-selected="false">
        <a href="alphabetical-view">Alphabetical view</a></button>
    </div>
  </nav>
  </div>
  <div class="row">
    <div id="main" class="col-12 col-md-12 one-column">
      <section class="section">
        <a id="main-content" tabindex="-1"></a>
        {{ page.content }}
      </section>
    </div>
  </div>
</div>
{% endblock %}

