.page-node-3024{
  .article_sections{
    .small-table{
      tr{
        display: flex;
        padding-right: 0px;
        padding-left: 0px;
        max-width: fit-content;
      }
    }
    .field--name-field-media{
      & > .field__item{
        .field--name-field-media-image{
          .field__item{
            display: flex;
            justify-content: center;
          }
        }
        .field--name-field-caption-copyrigth-, .field--name-field-copyrigth{
          max-width: 200px !important;
          min-width: 120px !important;
          width: 200px !important;
        }
      }
    }
  }
}
