/* D9 - Variables NCW */
/*Font Family*/
@font-face {
  font-family: "Noto Sans", sans-serif;
}
/* Font colours */
/* Background colours */
/* END */
/*Format the text the text. It receives the font-size, weight and colour as parameters.*/
/*Set height and width*/
* {
  margin: 0px;
  padding: 0px;
}

*:focus,
button:focus,
a:focus {
  outline: none;
}

.clearfix {
  clear: both;
  float: none;
}

html,
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.node__content {
  margin: 0px;
  font-size: inherit;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.section.container {
  padding: 0px;
}

ul {
  padding-left: 0.875rem;
}

.field--type-entity-reference {
  margin: 0;
}

.container.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.push-right {
  margin-left: auto;
}

.warning-message {
  padding: 2rem 2rem 1rem 2rem;
  background: #FEF6E5;
  border-radius: 15px;
  border: none;
}
.warning-message .warning-message-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}
.warning-message .warning-message-container img {
  height: 3rem;
  width: 3rem;
}
.warning-message .warning-message-container p {
  font-size: 1rem;
  color: #58585A;
}
.warning-message .read-more {
  display: flex;
  justify-content: flex-end;
}
.warning-message .read-more p a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #212121;
}

.scientific_year {
  display: flex;
  gap: 0.5rem;
}

.scientific_introduction .field--name-field-introduction-science .field__label {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  color: #212121;
}
.scientific_introduction .field__item p {
  color: #212121;
  font-size: 1.4rem;
}

.scientific_author {
  padding: 2rem;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
  width: 90%;
  margin: 2rem auto;
}
.scientific_author .field--name-field-authors-other-sources .field__label {
  font-size: 1.5rem;
  font-weight: 700;
  color: #58585A;
}
.scientific_author .field--name-field-authors-other-sources .wrapper-author-sj {
  justify-content: center;
}
.scientific_author .field--name-field-authors-other-sources .wrapper-author-sj h2 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #58585A;
}
.scientific_author .field--name-field-authors-other-sources .wrapper-author-sj .field--name-field-organisation {
  font-size: 1.3rem;
  color: #58585A;
}

.select-theme-article {
  border-radius: 15px 15px 15px 15px;
  background-color: #D5E6E6;
  padding: 0rem 0rem 1rem 0rem;
  margin-top: 1rem;
}
.select-theme-article .select-theme-article-title-box {
  padding: 1rem 0rem 0.5rem 2rem;
  border-radius: 15px 15px 0px 0px;
  background-color: #449FA2;
}
.select-theme-article .select-theme-article-title-box p {
  font-size: 2rem;
  color: #FFFFFF;
  border-radius: 15px 15px 0px 0px;
}
.site-footer {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
  background-color: #B0B2B3;
  gap: 10px;
}
.site-footer .copyright-footer {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: #58585A;
}
@media only screen and (max-width: 992px) {
  .site-footer .copyright-footer {
    width: 100%;
  }
}
.site-footer .row {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 0px;
  margin-left: 0px;
}
.site-footer section nav {
  padding: 0px;
}
.site-footer section .navbar-nav {
  column-gap: 1rem;
  display: flex;
  flex-direction: row;
}
.site-footer section .navbar-nav a {
  font-size: 1.2rem;
  color: #FFFFFF;
  text-decoration: none;
}
.site-footer .block {
  border: none;
  padding: 0rem;
}

/* Home page */

/*# sourceMappingURL=oshwiki-global.css.map */
