
#share-this-on{
  float: left;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .text-share {
    float: left;
    font-size: 0.9rem;
    margin-top: -3px;
    padding-right: 10px;
  }

  .a2a_svg{
    svg {
      display: none;
    }
  }
  .a2a_s__default{
    background-color: transparent !important;
  }
  .a2a_button_facebook, .a2a_button_twitter, .a2a_button_linkedin_share{
    float: left;
    display: block;
    margin: 0rem 0.2rem;
    width: 20px;
    height: 20px;
    background:{
      position: 50% 50%;
      repeat: no-repeat;
    }
    & > *{
      display: none;
    }
  }
  .a2a_button_facebook{
    margin-left: 0rem;
    background-image: url(../images/icon-facebook.svg);
  }
  .a2a_button_twitter{
    width: 22px;
    background:{
      size: 102%;
      image: url(../images/icon-twitter.svg);
    }
  }
  .a2a_button_linkedin_share{
    background-image: url(../images/icon-linkedin.svg);
    button{
      visibility: hidden !important;
    }
  }

  a:hover{
    opacity: 0.8;
  }
}

body.node--type-scientific-journal{
  #share-this-on{
    .a2a_button_facebook{
      background-image: url(../images/icon-facebook-orange.svg);
    }
    .a2a_button_twitter{
      background-image: url(../images/icon-twitter-orange.svg);
    }
    .a2a_button_linkedin_share{
      background-image: url(../images/icon-linkedin-orange.svg);
    }
  }
}
