.content-main-menu{
  border: {
    color: $bg-very-light-grey;
    style: solid;
    width: 1px 0px;
  }
  padding-bottom: 0rem;
  #navbar-main{
    padding: 0px;
    margin: 0px;
    #block-oshwiki-theme-main-menu{
      width: 100%;
      & > ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
        & > li {
          padding: 0.3rem 0rem;
          a, span{
            @include textFormat(1.1rem, 600, $text-dark-dark-grey);
          }
          span::after{
            display: none;
          }
          &.menu-item--expanded{
            .dropdown-menu{
              display: none;
            }
            &:hover{
              /*Main menu second-level - Used for the themes*/
              .dropdown-menu{
                display: block;
                top: 50px;
                left: -40%;
                box-shadow: 0px 1px 10px -5px $bg-dark-dark-grey;
                border : {
                  radius: 0px;
                  top: 6px solid $bg-dark-green;
                  bottom: 6px solid $bg-dark-green;
                  left: none;
                  right: none;
                }
                & > li{
                  padding: 0.3rem 1.5rem;
                  a{
                    @include textFormat(0.9rem, 600, $text-dark-dark-grey);
                  }
                }
              }
              /*End comment main menu second-level - Used for the themes*/
            }
          }
        }
        & > li.active{
          position: relative;
          a{
            @include textFormat(1.1rem, 700, $text-dark-green);
          }
          &:after{
            display: block;
            position: absolute;
            content: '';
            top: 52px;
            right: 0%;
            height: 6px;
            width: 100%;
            background: $bg-dark-orange;
          }
        }

        /*In order to have the acces key, we added the link. We have to hide the access to it*/
        & > li:nth-of-type(2){
          a{
            &:after{
              display: none;
            }
          }
        }
      }
    }
  }

  .navbar-toggler{
    padding: 0rem;
    margin: 1rem 0rem;
  }
  /*Header elements inside menu when screen widht < 992*/
  .responsive-menu-oshwiki{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 0rem;
    /*Search box*/
    .search-block-form{
      padding: 0;
      .form-row>fieldset, .form-row>div{
        padding: 0rem;
        margin: 0rem !important;
      }
      input, button{
        height: 1.5rem;
        font-size: 0.9;
      }
      .form-control{
        width: 10rem;
        border-radius: 0px;
        color: $text-white;
        border: 1px solid $bg-light-medium-grey;
        &:focus{
          box-shadow: none;
        }
        &::placeholder{
          color: $text-white;
        }
      }
      .js-form-submit{
        width: 25px;
        margin: 0rem 0.5rem;
        border: none;
        color: transparent;
        background: {
          color: transparent;
          image: url('../images/icon-search.png');
          repeat: no-repeat;
          size: 1.5rem;
        }
      }
    }
    #search-block-form{
      padding: 0px 5px;
    }
    #search-icon-responsive{
      display: inline-block;
      content: " ";
      width: 25px;
      height: 25px;
      margin: 0.2rem 0.5rem;
      background: {
        image: url('../images/icon-search-dark-green.png');
        repeat: no-repeat;
        size: 1.5rem;
      }
      cursor: pointer;
    }
    /*Dropdown*/
    form#lang_dropdown_form_lang-dropdown-form{
      display: flex;
      text-align: end;
      justify-content: flex-end;
      fieldset{
        margin: 0rem !important;
        select#edit-lang-dropdown-select{
          width: 10rem !important;
          padding: 0.2rem 0.4rem;
          /*Remove default dropdown icon and add new icon*/
          appearance:none;
          -webkit-appearance:none;
          -moz-appearance:none;
          -ms-appearance:none;
          background:{
            image: url(../images/icon-select.png);
            repeat: no-repeat;
            size: 9%;
            position: 94% 50%;
          }
          /*End comment - remove default dropdown icon*/
        }
      }
    }
  }
  /*Hide header elements inside menu comment*/
}

/*Orange underline of "home" and "theme" main menu option*/
.page-view-frontpage{
  #block-oshwiki-theme-main-menu{
    & > ul{
      & > li:nth-child(1){
        position: relative;
        a{
          font-size: 1.1rem;
          font-weight: 700;
          color: $text-dark-green !important;
        }
        &:after{
          display: block;
          position: absolute;
          content: '';
          right: 0%;
          height: 6px;
          width: 100%;
          background: $bg-dark-orange;
        }
      }
    }
  }
}
.path-themes{
  #block-oshwiki-theme-main-menu{
    & > ul{
      & > li:nth-child(2){
        position: relative;
        a{
          @include textFormat(1.1rem, 700, $text-dark-green);
        }
        &:after{
          display: block;
          position: absolute;
          content: '';
          right: 0%;
          bottom: -7px;
          height: 6px;
          width: 100%;
          background: $bg-dark-orange;
        }
      }
    }
  }
}

/*End comment - orange underline of "home" and "theme" main menu option*/


button.navbar-toggler-right{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  .icon-bar{
    display: block;
    width: 30px;
    height: 5px;
    background-color: $bg-dark-green;
  }
}

/*Update padding for responsive layout*/
@media only screen and (max-width: 340px) {
  .content-main-menu{
    & > .container{
      #navbar-main{
        padding: 0.5rem 0rem;
      }
    }
  }
}

/*orange underline responsive*/
@media only screen and (min-width: 992px) {
  .content-main-menu{
    ul{
      li.active{
        &:after{
          right: -15%;
          bottom: -14px;
          width: 130%;
        }
      }
    }
  }
  .page-view-frontpage{
    .content-main-menu{
      ul{
        li:nth-child(1){
          &:after{
            right: -20%;
            bottom: -7px;
            width: 140%;
          }
        }
      }
    }
  }
}
/*end comment - orange underline responsive*/

/*Space between the last menu item and the language dropbox*/
@media only screen and (max-width: 992px) {
  .content-main-menu{
    & > .container{
      #navbar-main{
        .nav-item:last-of-type{
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
