


/* D9 - Variables NCW */


/*Font Family*/

@font-face {
  font-family: 'Noto Sans', sans-serif;
}


/* Font colours */

$text-color-blue: #003399;
$text-color-white: #FFFFFF;


/* background colours */

$bg-color-blue: #003399;
$bg-color-green-light: #daea96;
$bg-color-white: #fff;
$bg-color-grey-footer: #57575a;




/* END - D9 - Variables NCW */
