


/* D9 - Variables NCW */


/*Font Family*/

@font-face {
  font-family: 'Noto Sans', sans-serif;
}

/* Font colours */

$text-dark-green: #449FA2;
$text-light-green: #D5E6E6;

$text-dark-orange: #F6A400;
$text-light-orange: #FCE3B2;

$text-light-light-grey: #F8F8F8;
$text-light-medium-grey: #A2ACB4;
$text-light-dark-grey: #B0B2B3;
$text-dark-lighter-grey: #9E9E9E;
$text-dark-medium-grey: #616161;
$text-dark-dark-grey: #58585A;

$text-black: #212121;

$text-blue: #003399;

$text-white: #FFFFFF;

/* Background colours */

$bg-dark-green: #449FA2;
$bg-light-green: #D5E6E6;

$bg-dark-orange: #F6A400;
$bg-light-orange: #FEF6E5;

$bg-very-light-grey: #E0E0E0;
$bg-light-light-grey: #F8F8F8;
$bg-light-light-light-grey: #B1B3B4;
$bg-light-medium-grey: #A2ACB4;
$bg-light-dark-grey: #B0B2B3;
$bg-dark-lighter-grey: #9E9E9E;
$bg-dark-medium-grey: #616161;
$bg-dark-dark-grey: #58585A;

$bg-black: #212121;

$bg-blue: #003399;

$bg-white: #FFFFFF;

/* END */
