/*Format the text the text. It receives the font-size, weight and colour as parameters.*/
@mixin textFormat($size, $weight, $color){
  font-size:  $size;
  font-weight:  $weight;
  color: $color;
}
/*Set height and width*/
@mixin dimensions($height, $width){
  height: $height;
  width: $width;
}

/*Code for the extra content (most popular, related articles...)
It has 3 parameters: 1. The main light color (for the background)
2: the main dark color (for the tags and border-left)
3: The color of the title
4: Grid template rows*/
@mixin otherArticles($mainLightColor, $mainDarkColor, $titleColor, $gridTemplateRows){
  margin-top: 1.5rem;
  background-color: $mainLightColor;
  & > .container{
    h2{
      @include textFormat(1.3rem, null, $titleColor);
      margin-bottom: 1.5rem;
    }
    .view-content > .views-view-grid > .row{
      row-gap: 1rem;
      .card-content-wrapper{
        display: grid;
        grid-template-rows: $gridTemplateRows;
        padding: 0.5rem 0.5rem 0rem 0rem;
        background: $bg-white;
        border-radius: 15px;
        border-left: 15px solid $mainDarkColor;
        height: 100%;
        & > div, a{
          padding-left: 1rem;
          padding-right: 0.3rem;
        }
        .taxonomy-level-item{
          align-self: start;
          padding: 0.3rem 0.7rem;
          margin-top: 0.7rem;
          width: fit-content;
          background-color: $mainDarkColor;
          border-radius: 15px;
          @include textFormat(0.9rem, 600, $text-white);
        }
        a:nth-of-type(1){
          align-self: start;
          @include textFormat(1.05rem, null, $text-black);
        }
        a:nth-of-type(2){
          align-self: center;
          margin: 0.7rem 0rem;
          @include textFormat(0.9rem, 600, $mainDarkColor);
        }
      }
    }

  }
}
