.btn-primary{
  background-color: $bg-dark-green;
  border-color: $bg-dark-green;
  &:hover,
  &:active,
  &:visited,
  &:focus,
  {
    background-color: $bg-white;
    border-color: $bg-dark-green;
    color: $text-dark-green;
    text-decoration: underline;
  }
}

