.page-view-alphabetical-view{
  .container{
    #main{
      /*Main layout with grid-area*/
      .section{
        display: grid;
        grid-template-areas:
          "alphabet"
          "select-theme"
          "alphabetical-content";
        #block-glossarythemes{
          grid-area: alphabet;
        }
        #block-themes-names{
          grid-area: select-theme;
        }
        #block-oshwiki-theme-content{
          grid-area: alphabetical-content;
        }
      }
      /*End comment*/
    }
  }
  #block-glossarythemes{
    margin-left: 1rem;
    .list-group{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border-top: 1px solid $bg-dark-medium-grey;
      border-bottom: 1px solid $bg-dark-medium-grey;
      li{
        border: none;
        font-size: 1.2rem;
        color: $text-light-dark-grey;
        a{
          font-weight: bold;
        }
      }
    }
  }
  #block-oshwiki-theme-content{
    .view-content{
      display: flex;
      flex-direction: column;
      .views-row{
        padding: 1rem 0rem;
        border-bottom: 1px dotted $bg-dark-medium-grey;
        a{
          @include textFormat(1.1rem, 700, $text-dark-green);
        }
      }
    }
    .row{
      margin: 0rem;
    }
    nav{
      padding: 1rem 0rem;
    }
  }
}

@media only screen and (min-width: 992px) {
  .page-view-alphabetical-view{
    .container{
      #main{
        /*Responsive layout with grid-area*/
        .section{
          grid-template-areas:
          "alphabet alphabet alphabet alphabet"
          "select-theme alphabetical-content alphabetical-content alphabetical-content";
        }
        /*End comment*/
      }
    }
  }
}
