.section_banner{
  background: {
    image: url('../images/Home-header.png');
    size: 95%;
    repeat: no-repeat;
    position: 50% 5%;
  }
  div{
    padding-top: 95%;
    padding-bottom: 20%;
    h1{
      @include textFormat(1.8rem, null, $text-dark-dark-grey);
      span{
        color: $text-blue;
      }
    }
    p{
      max-width: 18rem;
      @include textFormat(1rem, null, $text-dark-dark-grey);
    }
  }
}

.page-view-frontpage{
  #main-wrapper{
    .container-fluid{
      padding: 0.5rem 0rem;
      p{
        margin-bottom: 0;
      }
    }
    .container-fluid:nth-of-type(1){
      background: {
        image: url('../images/grey-diagonal-line-home.svg');
        size: 100%;
        repeat: no-repeat;
        position: bottom;
      }
    }
    .container-fluid:nth-of-type(2),
    .container-fluid:nth-of-type(3),
    .container-fluid:nth-of-type(4){
      background-color: $bg-light-light-grey;
    }
    .container-fluid:nth-of-type(5){
      background-color: $bg-light-orange;
    }
  }
  .section_featured_articles{
    margin-top: 1.5rem;
    & > .container{
      h2{
        @include textFormat(1.45rem, null, $bg-dark-green);
        margin-bottom: 1rem;
      }
      .view-content > .views-view-grid > .row{
        row-gap: 1rem;
        .card-content-wrapper{
          display: grid;
          grid-template-rows: 0.5fr 0.2fr auto 0.2fr;
          gap: 0.5rem;
          background: $bg-white;
          border-radius: 15px;
          height: 100%;
          box-shadow: 2px 8px 14px -12px $bg-dark-dark-grey;
          & > div, a{
            padding-left: 1rem;
            padding-right: 0.3rem;
          }
          .views-field-field-image-oshwiki, .views-field-field-themes-oshwiki,
          .views-field-title, .views-field-view-node{
            display: grid;
          }
          a:nth-of-type(1){
            order: 1;
            padding: 0rem;
            img{
              object-fit: cover;
              border-radius: 15px 15px 0px 0px;
              width: 100%;
              height: 180px;
            }
          }
          .taxonomy-level-wrapper{
            order: 2;
            margin-top: 0.7rem;
            .taxonomy-level-item{
              align-self: start;
              padding: 0.5rem 0.7rem;
              width: fit-content;
              background-color: $bg-dark-green;
              border-radius: 20px;
              @include textFormat(0.9rem, 600, $text-white);
            }
          }
          a:nth-of-type(2){
            order: 3;
            @include textFormat(1.2rem, null, $text-black);
            align-self: start;
          }
          a:nth-of-type(3){
            order: 4;
            margin: 0.7rem 0rem;
            align-self: center;
            @include textFormat(0.95rem, 600, $text-dark-green);
          }
        }
      }
    }
  }

  .section_most_popular, .section_most_recent{
    @include otherArticles(null, $bg-dark-green, $text-dark-green, 1fr 1.5fr 0.8fr);
    .more-link{
      display: flex;
      flex-direction: row-reverse;
      margin: 1.5rem 0rem;
      a{
        @include textFormat(0.9rem, 700, $bg-dark-dark-grey);
      }
    }
  }
  .section_other_sources{
    @include otherArticles($bg-light-orange, $bg-dark-orange, $bg-dark-dark-grey, 1.5fr 0.8fr);
    margin: 1.5rem 0rem;
  }

  /*Remove footer margin-top for Home page*/
  footer{
    margin-top: 0rem;
  }
}


/*Welcome to Oshwiki section responsive*/
@media only screen and (min-width: 576px) {
  .section_banner{
    background: {
      size: 40%;
      position: 85% 50%;
    }
    div{
      padding: 10% 0rem 20%;
    }
  }
}

@media only screen and (min-width: 768px) {
  .section_banner{
    background-position: 75% 50%;
  }
}

@media only screen and (min-width: 992px) {
  .section_banner{
    background-size: 25%;
    div{
      padding: 7% 0rem 15%;
    }
  }
}
/*End comment*/
